*
{
    margin: 0;
    padding: 0;
    font-family:Helvetica, Arial,;
}
/*----------Navigation-------*/
#nav-bar
{
    
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 50px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 20px 0 0px;
}
.navbar-nav li a
{
    float:right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border:none!important;
}
.nav-link
{
    
    color: rgba(85, 85, 85, 0.884)!important;
    font-weight: 600;
    font-size: 17px;
}

/*-------------banner section---------------*/

#banner
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/new.jpg);
    color: #fff;
    padding-top: 5%; 
    padding-right: 5%;
    height: 80vh;
}
.promo-title
{
    font-size: 45px;
    font-weight: 500;
    margin-top: 20px;
   
}
.padbutton{

    padding: 12px;
    width: 150px;
    display: inline-block;
    background-image: linear-gradient(to right, #014040,#061D26);
    text-decoration: none !important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    
}
#banner a
{
    color: #fff;
    text-decoration: none;
}
.img-fluid{
   width:50%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    #banner
{
    height: 100vh;
}

.promo-title
{
    font-size: 21px;
    font-weight: 500;
    margin-top: 20px;
   
}

.img-fluid{
    padding-top:10%;
    width:50%;
   
 }


 
  }
  /*---------------About--------*/
#about
{
    height:80vh;
    padding-top: 170px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.heading1{
    color:#061D26;
    font-size:60px;
    font-weight:500px;
}
.about-content
{
    padding-top: 20px;
    font-size:23px;
}
#videoBG
{
   
    background: linear-gradient(rgba(179, 178, 178, 0.87),rgb(235, 232, 232));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .heading1{
        color:#061D26;
        font-size:30px;
        font-weight:300px;
    }
    .about-content
    {
        padding-top: 20px;
        font-size:13px;
    }
}



/*----------site-stats----------*/

#site-stats
{background: #061D26 ;
    color: #fff;
    padding-top: 5%; 
    padding-right: 5%;
    height: 80vh;
    padding: 100px 0;
}
#site-stats h3
{
    margin-bottom: 30px;
}
.stats-box
{background: #061D26;
    padding: 15px;
    border: 1px solid #fff;
    

  
    box-shadow: 0 2px 40px 0 #061D26;
}
.stats-box .fa
{
    font-size: 60px;
    margin-right: 10px;
   
    margin-bottom: 20px;
}

.heading2{
    Position: relative;
    top:190px;
    font-size:50px;
    font-weight:100px;

}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    #site-stats
{
    height: 120vh;
   
}
.heading2{
    Position: relative;
    top:90px;
    font-size:25px;
    font-weight:100px;
    text-align:left;

}
}

/*-------feature-----*/
.feature
{background: #061D26 ;
    color: #fff;
    padding-top: 3%; 
  
    height: 80vh;
    
}

.feature img{
    max-width: 100%;
    cursor: pointer;
}
.feature h2{
    font-size:39px;
    font-weight: bold;
    line-height: 50px;
}
.feature p{
    margin-top: 25px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 19px;
    
}
.feature a{
    width: 170px;
    padding: 15px 10px;
    display: block;
    background: #ffffff;
    text-decoration: none !important;
    color: #061D26 !important;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    /* box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5); */
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .feature{

  
    height: 100vh;
    
}
}

.explore
{background: #fff ;
    color: #061D26;
    padding-top: 8%; 
  
    height: 80vh;
    
}
.explore h2{
    font-size:39px;
    font-weight: bold;
    line-height: 50px;
}
.explore a{
    
        width: 170px;
        padding: 15px 10px;
        display: block;
        background: #061D26 ;
        text-decoration: none !important;
        color: #FFF !important;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        /* box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5); */
    margin-bottom: 50px;
}

.explore p{
    margin-top: 25px;
    margin-bottom: 50px;
    color: #061D26;
    font-size: 19px;
    
}
.explore img{
    max-width: 100%;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .explore
{
  
    height: 120vh;
    
}
}

.footer
{
    padding: 100px 20px 15px;
    background-image: linear-gradient(#014040,#061D26);
    color: #fff;
}
.footer-logo
{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer h4
{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer p
{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .fa
{
    padding-right: 20px;
    font-size: 15px;
}
.footer hr
{
    margin-top: 10px;
    background: #efefef;
}
.fa-heart
{
   
    color: #f44336;
}
.footer .copyright
{
    text-align: center;
    
}